<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtG8Y8DeaBo7cg3ATyGr5jQyojrluXf5s</string>
	<key>GCM_SENDER_ID</key>
	<string>822056430504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeManager</string>
	<key>PROJECT_ID</key>
	<string>home-manager-ef8c4</string>
	<key>STORAGE_BUCKET</key>
	<string>home-manager-ef8c4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822056430504:ios:87654e557cbcd9d64b0b9d</string>
</dict>
</plist>